
/* --------------- posts ------------------ */
.post-container {  margin-bottom: 20px;  }
.container-commnet { margin-bottom: 20px; }
.avatar {
	float: right;
	width: 60px;
	height: 50px;
	border-radius: 4px 4px;
	overflow: hidden;
}
.comment-avatar {
	width: 30px;
	height: 25px;
}
.avatar-cover {
	display: inline-block;
	width: 100%;
	height: auto;
}

.post-wrapper {
	border: 1px solid #eee;
}

.post-content {
	padding: 0;
	background-color: transparent;
	border: 0;
}

.signup-label { padding-right: 0; }
.notification { padding: 10px; margin-bottom: 20px; }

