<h3><a href="#">这是一篇文章</a></h3>
<pre class="post-content">hahaha</pre>
<p class="post-footer">
	<span class="post-tag">16年12月6日 18:20</span>
	<span class="post-tag">
		<span class="post-pv">浏览(899)</span>
		<span class="post-comment">留言(96)</span>
		<a href="#" class="btn btn-link">编辑</a>
		<a href="#" class="btn btn-link">删除</a>
	</span>
</p>