<div class="container post-container">
	<div class="row">
		<div class="col-md-2">
			<a href="/posts?author=zhangsan" class="avatar">
				<img class="avatar-cover" src="/images/avatar.jpg" alt="">
			</a>
		</div>
		<div class="col-md-10 post-wrapper">
			<%- include('post-show') %>
		</div>
	</div>
</div>